DATABASE="mongodb+srv://username:password@cluster0.tlpf0fp.mongodb.net/database-name"
JWT_SECRET="CHUOINGAUNHIEN"
GMAIL_USER="abc@gmail.com" # Tài khoản gmail
GMAIL_PASS="abcd abcd abcd abcd" # Mật khẩu ứng dụng